/Project3/Project3Task1Server/nbproject/private/
/Project3/Project3Task1Client/nbproject/private/
/Project3/Project3Task1Server/build/
/Project3/Project3Task1Server/dist/
/Project3/Project3Task1Client/build/
/Project3/Project3Task1Client/dist/
/Project3/Project3Task2Server/nbproject/private/
/Project3/Project3Task2Client/nbproject/private/
/Project3/Project3Task2Server/build/
/Project3/Project3Task2Server/dist/
/Project3/Project3Task2Client/build/
/Project3/Project3Task3Server/nbproject/private/
/Project3/Project3Task3Client/nbproject/private/
/Project3/Project3Task3Server/build/
/Project3/Project3Task3Server/dist/
/Project3/Project3Task3Client/build/
/Project3/Project3Task3Client/dist/
/Project3/Project4Task1/nbproject/private/
/Project3/Project4Task1/build/
/Project3/Project4Task1/dist/
/Project3/Project4Task2/nbproject/private/
/Project3/Project4Task2/build/
/Project3/Project4Task2/dist/
/Project3/MyJMSProject/nbproject/private/
/Project3/MyJMSProject/MyJMSProject-war/nbproject/private/
/Project3/MyJMSProject/MyJMSProject-ejb/nbproject/private/
/Project3/MyJMSProject/MyJMSProject-ejb/build/
/Project3/MyJMSProject/MyJMSProject-war/build/
/Project3/MyJMSProject/MyJMSProject-ejb/dist/
/Project3/Fall2016Project6/nbproject/private/
/Project3/Fall2016Project6/Fall2016Project6-ejb/nbproject/private/
/Project3/Fall2016Project6/Fall2016Project6-war/nbproject/private/
/Project3/Fall2016Project6/Fall2016Project6-ejb/build/
/Project3/Fall2016Project6/Fall2016Project6-ejb/dist/
/Project3/Fall2016Project6/Fall2016Project6-war/dist/
/Project3/Fall2016Project6/Fall2016Project6-war/build/
/Project3/TEST/nbproject/private/
/Project3/TEST/build/